@import "~jstree/dist/themes/default/style.css";
@import "~svg.select.js/src/svg.select.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import "~@fortawesome/fontawesome-free/css/all.css";

html, body {
    height: 100%;
}

.resizable-vert {
    resize: vertical;
    overflow: auto;
}

.horizontal-dropdown {
    color: #fff !important;
    background-color: #6c757d !important;
    border-color: #6c757d !important;
    height: 100%;
}

.dropdown-menu {
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 0;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    color: #fff;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #6c757d;
    border-radius: 0;
}

.highlighted {
    stroke-opacity: 0.5;
    stroke-width: 10;
    stroke: #88a174;
}
