<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>

    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>
<div id="content" class="container-fluid h-100 d-flex flex-column">
    <div class="row border p-2">
        <div class="col-2">
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group" role="group">
                    <button id="toolbar-new-sketch" type="button" class="btn btn-secondary" data-bs-toggle="tooltip"
                            data-bs-placement="bottom" data-bs-trigger="hover" title="New Sketch">
                        <span class="fas fa-file"></span>
                    </button>
                    <button id="toolbarExport" type="button" class="btn btn-secondary" data-bs-toggle="tooltip"
                            data-bs-placement="bottom" data-bs-trigger="hover" title="Export">
                        <span class="fas fa-file-download"></span>
                    </button>
                    <span data-bs-toggle="modal" data-bs-target="#importModal">
                        <button id="toolbarImport" type="button" class="btn btn-secondary disabled"
                                data-bs-toggle="tooltip"
                                data-bs-placement="bottom" data-bs-trigger="hover" title="Import">
                            <span class="fas fa-file-upload"></span>
                        </button>
                    </span>
                        <div class="modal fade" id="importModal" tabindex="-1">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Import Sketch</h5>
                                        <button type="button" class="close" data-bs-dismiss="modal">
                                            <span>&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <input type="file" accept=".svg" id="importFile"/>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                        <button type="button" id="importButton" class="btn btn-primary">Import</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="btn-group ms-auto" role="group">
                    <button id="toolbarMoveDrawingSheet" type="button" class="btn btn-secondary disabled"
                            data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-trigger="hover" title="Move drawing sheet">
                        <span class="fas fa-hand-paper"></span>
                    </button>
                    <button id="toolbarZoomIn" type="button" class="btn btn-secondary disabled" data-bs-toggle="tooltip"
                            data-bs-placement="bottom" data-bs-trigger="hover" title="Zoom in">
                        <span class="fas fa-search-plus"></span>
                    </button>
                    <button id="toolbarZoomOut" type="button" class="btn btn-secondary disabled" data-bs-toggle="tooltip"
                            data-bs-placement="bottom" data-bs-trigger="hover" title="Zoom out">
                        <span class="fas fa-search-minus"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="btn-toolbar" role="toolbar">
                <div id="toolbar-modes" class="btn-group me-2" role="group">
                    <button id="toolbarDraw" type="button" class="btn btn-primary" data-mode="drawing"
                            data-bs-toggle="collapse tooltip" data-bs-target="#drawToolbarColumn" aria-expanded="true"
                            aria-controls="drawToolbarColumn" data-bs-placement="bottom" data-bs-trigger="hover" title="Draw">
                        <span class="fas fa-pen-fancy"></span>
                    </button>
                    <button id="toolbarSelect" type="button" class="btn btn-secondary" data-mode="selecting"
                            data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-trigger="hover" title="Select">
                        <span class="fas fa-mouse-pointer"></span>
                    </button>
                    <button id="toolbarGeometricScale" type="button" class="btn btn-secondary disabled" data-bs-toggle="tooltip"
                            data-bs-placement="bottom" data-bs-trigger="hover" title="Scale element geometrically">
                        <span class="fas fa-vector-square"></span>
                    </button>
                    <button id="toolbarSemanticScale" type="button" class="btn btn-secondary" data-mode="scaling"
                            data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-trigger="hover" title="Scale element semantically">
                        <span class="fas fa-object-group"></span>
                    </button>
                    <button id="toolbarDelete" type="button" class="btn btn-secondary" data-mode="deleting"
                            data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-trigger="hover" title="Delete element">
                        <span class="fas fa-trash-alt"></span>
                    </button>
                </div>
                <div class="btn-group me-2" role="group">
                    <button id="toolbarUndo" type="button" class="btn btn-secondary disabled" data-bs-toggle="tooltip"
                            data-bs-placement="bottom" data-bs-trigger="hover" title="Undo last step">
                        <span class="fas fa-undo-alt"></span>
                    </button>
                    <button id="toolbarRedo" type="button" class="btn btn-secondary disabled" data-bs-toggle="tooltip"
                            data-bs-placement="bottom" data-bs-trigger="hover" title="Redo last step">
                        <span class="fas fa-redo-alt"></span>
                    </button>
                </div>
                <div class="btn-group ms-auto" role="group">
                    <button id="toolbarHelp" type="button" class="btn btn-secondary disabled" data-bs-toggle="tooltip"
                            data-bs-placement="bottom" data-bs-trigger="hover" title="Help">
                        <span class="fas fa-question"></span>
                    </button>
                </div>


                <div class="btn-group mr-2 d-none" role="group">
                    <button type="button" id="tool-selection-dropdown" class="btn btn-secondary dropdown-toggle"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Tools
                    </button>
                    <div class="dropdown-menu" aria-labelledby="tool-selection-dropdown">
                        <button class="dropdown-item btn btn-secondary" data-tool-type="freeLine" type="button"
                                data-toggle="tooltip"
                                data-placement="bottom" data-trigger="hover" title="Free Line">
                            <span class="fas fa-pen-fancy"></span>
                            Free Line
                        </button>
                        <button class="dropdown-item btn btn-secondary" data-tool-type="straightLine" type="button"
                                data-toggle="tooltip"
                                data-placement="bottom" data-trigger="hover" title="Straight Line">
                            <span class="fas fa-grip-lines"></span>
                            Straight Line
                        </button>
                        <button class="dropdown-item btn btn-secondary" data-tool-type="shapes" type="button"
                                data-toggle="tooltip"
                                data-placement="bottom" data-trigger="hover" title="Shapes">
                            <span class="fas fa-vector-square"></span>
                            Shapes
                        </button>
                        <button class="dropdown-item btn btn-secondary" data-tool-type="path" type="button"
                                data-toggle="tooltip"
                                data-placement="bottom" data-trigger="hover" title="Path">
                            <span class="fas fa-draw-polygon"></span>
                            Path
                        </button>
                    </div>
                </div>
                <div class="btn-group mr-2 d-none" role="group">
                    <button type="button" id="shapes-dropdown" class="btn btn-secondary dropdown-toggle"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Shapes
                    </button>
                    <div class="dropdown-menu" aria-labelledby="shapes-dropdown">
                        <button class="dropdown-item btn btn-secondary" data-shape-type="rectangle" type="button"
                                data-toggle="tooltip"
                                data-placement="bottom" data-trigger="hover" title="Rectangle">
                            <span class="far fa-square"></span>
                            Rectangle
                        </button>
                        <button class="dropdown-item btn btn-secondary" data-shape-type="circle" type="button"
                                data-toggle="tooltip"
                                data-placement="bottom" data-trigger="hover" title="Circle">
                            <span class="far fa-circle"></span>
                            Circle
                        </button>
                        <button class="dropdown-item btn btn-secondary" data-shape-type="ellipse" type="button"
                                data-toggle="tooltip"
                                data-placement="bottom" data-trigger="hover" title="Ellipse">
                            <span class="far fa-circle" style="transform: scaleY(0.6)"></span>
                            Ellipse
                        </button>
                    </div>
                </div>
                <div class="btn-group ml-2 d-none" role="group">
                    <button id="toolbarMerge" type="button" class="btn btn-secondary disabled" data-toggle="tooltip"
                            data-placement="bottom" data-trigger="hover" title="Merge">
                        <span class="fas fa-link"></span>
                    </button>
                    <button id="toolbarSplit" type="button" class="btn btn-secondary disabled" data-toggle="tooltip"
                            data-placement="bottom" data-trigger="hover" title="Split">
                        <span class="fas fa-unlink"></span>
                    </button>
                </div>
                <div class="btn-group ml-2 d-none" role="group">
                    <button id="toolbarSemanticScaleOld" type="button" class="btn btn-secondary disabled"
                            data-toggle="tooltip"
                            data-placement="bottom" data-trigger="hover" title="Semantic Scale">
                        <span class="fas fa-vector-square"></span>
                    </button>
                </div>
                <div class="btn-group ml-2 d-none" role="group">
                    <button id="toolbarSemanticAnchor" type="button" class="btn btn-secondary disabled"
                            data-toggle="tooltip"
                            data-placement="bottom" data-trigger="hover" title="Mark Semantic Anchor">
                        <span class="fas fa-anchor"></span>
                    </button>
                    <button id="toolbarSemanticStretch" type="button" class="btn btn-secondary disabled"
                            data-toggle="tooltip"
                            data-placement="bottom" data-trigger="hover" title="Mark Semantic Stretch">
                        <span class="fas fa-compress"></span>
                    </button>
                    <button id="toolbarSemanticRepeat" type="button" class="btn btn-secondary" data-toggle="tooltip"
                            data-placement="bottom" data-trigger="hover" title="Mark Semantic Repeat">
                        <span class="fas fa-table"></span>
                    </button>
                </div>

                <div class="btn-group ml-2 d-none" role="group">
                    <button id="toolbarUndoOld" type="button" class="btn btn-secondary disabled" data-toggle="tooltip"
                            data-placement="bottom" data-trigger="hover" title="Undo">
                        <span class="fas fa-undo"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row h-100 border">
        <div class="col-2 p-2 border collapse show collapse-horizontal multi-collapse hierarchy-toggle-collapse" id="hierarchyColumn">
            <button class="btn btn-light float-start" type="button" data-bs-toggle="collapse" data-bs-target=".hierarchy-toggle-collapse" aria-expanded="true" aria-controls="hierarchyColumn hierarchyButton">
                <span class="fas fa-angle-double-left"></span>
            </button>
            <div class="container">
                <div class="border-bottom text-center pt-2 pb-2">
                    <b class="text-center">Hierarchy</b>
                </div>
                <div id="hierarchy" class="pt-2 pb-2 h-75 overflow-auto">
                </div>
            </div>
        </div>
        <div class="col-auto p-2 border collapse collapse-horizontal multi-collapse hierarchy-toggle-collapse" id="hierarchyButton">
            <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target=".hierarchy-toggle-collapse" aria-expanded="true" aria-controls="hierarchyColumn hierarchyButton">
                <span class="fas fa-sitemap"></span>
            </button>
        </div>
        <div id="root" class="col p-2 resizable-vert">
            <div class="p-2 ps-2 collapse show collapse-horizontal" id="drawToolbarColumn" style="z-index: 1; position: absolute">
                <div class="btn-group-vertical" id="drawToolbarVertical">
                    <button id="drawToolbarFreeDrawing" type="button" class="btn btn-secondary" data-tool-type="freeLine"
                            data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-trigger="hover" title="Free lines">
                        <span class="fas fa-pencil-alt"></span>
                    </button>
                    <button id="drawToolbarStraightLine" type="button" class="btn btn-secondary" data-tool-type="straightLine"
                            data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-trigger="hover" title="Straight lines">
                        <span class="fas fa-ruler"></span>
                    </button>
                    <div class="btn-group dropend" role="group">
                        <button type="button" id="drawToolbarShapesDropdown" class="btn btn-secondary dropdown-toggle" data-tool-type="shapes"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="fas fa-shapes"></span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="drawToolbarShapesDropdown" style="height: 100%">
                            <div class="btn-group horizontal-dropdown">
                                <button class="dropdown-item btn btn-secondary" data-shape-type="rectangle" type="button"
                                        data-bs-toggle="tooltip"
                                        data-bs-placement="bottom" data-bs-trigger="hover" title="Rectangle">
                                    <span class="far fa-square" style="color: white"></span>
                                </button>
                                <button class="dropdown-item btn btn-secondary" data-shape-type="circle" type="button"
                                        data-bs-toggle="tooltip"
                                        data-bs-placement="bottom" data-bs-trigger="hover" title="Circle">
                                    <span class="far fa-circle" style="color: white"></span>
                                </button>
                                <button class="dropdown-item btn btn-secondary" data-shape-type="ellipse" type="button"
                                        data-bs-toggle="tooltip"
                                        data-bs-placement="bottom" data-bs-trigger="hover" title="Ellipse">
                                    <span class="far fa-circle" style="transform: scaleY(0.6); color: white"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <button id="drawToolbarPaths" type="button" class="btn btn-secondary" data-tool-type="path"
                            data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-trigger="hover" title="Paths">
                        <span class="fas fa-draw-polygon"></span>
                    </button>
                    <button id="drawToolbarSplitLine" type="button" class="btn btn-secondary disabled" data-tool-type="splitLine"
                            data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-trigger="hover" title="Split line">
                        <span class="fas fa-unlink"></span>
                    </button>
                    <button id="drawToolbarMergeLine" type="button" class="btn btn-secondary disabled" data-tool-type="mergeLines"
                            data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-trigger="hover" title="Merge lines">
                        <span class="fas fa-link"></span>
                    </button>
                </div>
            </div>
            <div id="sem-behaviour-marker"></div>
        </div>
        <div class="col-2 p-2 border collapse show collapse-horizontal multi-collapse inspector-toggle-collapse" id="inspectorColumn">
            <button class="btn btn-light float-end" type="button" data-bs-toggle="collapse" data-bs-target=".inspector-toggle-collapse" aria-expanded="true" aria-controls="inspectorColumn inspectorButton">
                <span class="fas fa-angle-double-right"></span>
            </button>
            <div class="container">
                <div class="border-bottom text-center pt-2 pb-2">
                    <b>Inspector</b>
                </div>
                <div id="inspector" class="pt-2 pb-2">
                    <div class="mb-2">
                        <b id="inspector-name">Name of Element</b>
                        <small id="inspector-type">Type of Element</small>
                    </div>
                    <div id="inspector-components" class="accordion">
                        <div id="inspector-semantic-repeat-card" class="card border-bottom" hidden>
                            <div id="header-inspector-semantic-repeat-metadata" class="card-header clearfix d-flex">
                                <a class="align-self-center" href="#header-inspector-semantic-repeat-metadata" data-bs-toggle="collapse"
                                   data-bs-target="#card-inspector-semantic-repeat-metadata" role="button">
                                    Semantic Repeat
                                </a>
                                <button id="remove-sem-repeat-btn" class="btn btn-secondary ms-auto" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                        data-bs-trigger="hover" title="remove semantic repeat behaviour">
                                    <span class="fas fa-trash-alt"></span>
                                </button>
                            </div>
                            <div id="card-inspector-semantic-repeat-metadata" class="collapse show"
                                 data-parent="#inspector-components">
                                <div class="card-body">
                                    <div id="inspector-repeat-types-btn-group" class="mb-4 btn-group btn-group-sm d-flex" role="group">
                                        <button type="button" class="btn btn-outline-secondary" data-repeat-type="directions"
                                                data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-trigger="hover" title="Repeat in defined directions">
                                            <span class="fas fa-arrows-alt"></span>
                                        </button>
                                        <button type="button" class="btn btn-outline-secondary" data-repeat-type="grid" data-bs-toggle="tooltip"
                                                data-bs-placement="bottom" data-bs-trigger="hover" title="Repeat in grid">
                                            <span class="fas fa-th"></span>
                                        </button>
                                        <button type="button" class="btn btn-outline-secondary" data-repeat-type="direction" data-bs-toggle="tooltip"
                                                data-bs-placement="bottom" data-bs-trigger="hover" title="Define direction to repeat in">
                                            <span class="fas fa-long-arrow-alt-right"></span>
                                        </button>
                                        <button type="button" class="btn btn-outline-secondary" data-repeat-type="path"
                                                data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-trigger="hover" title="Define path to repeat along">
                                            <span class="fas fa-wave-square"></span>
                                        </button>
                                        <button type="button" class="btn btn-outline-secondary" data-repeat-type="at_element" data-bs-toggle="tooltip"
                                                data-bs-placement="bottom" data-bs-trigger="hover" title="Select element to repeat at" disabled>
                                            <span class="fas fa-vector-square"></span>
                                        </button>
                                        <button type="button" class="btn btn-outline-secondary" data-repeat-type="at_line" data-bs-toggle="tooltip"
                                                data-bs-placement="bottom" data-bs-trigger="hover" title="Mark line to repeat along" disabled>
                                            <span class="fas fa-highlighter"></span>
                                        </button>
                                    </div>
                                    <div id="inspector-repeat-directions-div" class="mb-4 border-bottom pb-4 d-none" data-repeat-type="directions">
                                        <h6 class="mb-2">Repeats per direction</h6>
                                        <div class="container p-0">
                                            <div class="row justify-content-between g-0">
                                                <div class="col-auto">
                                                    <span class="fas fa-long-arrow-alt-left" style="transform: rotate(45deg)"></span>
                                                    <input class="repeat-direction" data-repeat-direction="top_left" type="number" value="0" min="-1" max="100" style="width: 40px">
                                                </div>
                                                <div class="col-auto">
                                                    <span class="fas fa-long-arrow-alt-up"></span>
                                                    <input class="repeat-direction" data-repeat-direction="top" type="number" value="0" min="-1" max="100" style="width: 40px">
                                                </div>
                                                <div class="col-auto">
                                                    <span class="fas fa-long-arrow-alt-right" style="transform: rotate(-45deg)"></span>
                                                    <input class="repeat-direction" data-repeat-direction="top_right" type="number" value="0" min="-1" max="100" style="width: 40px">
                                                </div>
                                            </div>
                                            <div class="row justify-content-between g-0">
                                                <div class="col-auto">
                                                    <span class="fas fa-long-arrow-alt-left"></span>
                                                    <input class="repeat-direction" data-repeat-direction="left" type="number" value="0" min="-1" max="100" style="width: 40px">
                                                </div>
                                                <div class="col-auto">
                                                    <span class="fas fa-long-arrow-alt-right"></span>
                                                    <input class="repeat-direction" data-repeat-direction="right" type="number" value="0" min="-1" max="100" style="width: 40px">
                                                </div>
                                            </div>
                                            <div class="row justify-content-between g-0">
                                                <div class="col-auto">
                                                    <span class="fas fa-long-arrow-alt-left" style="transform: rotate(-45deg)"></span>
                                                    <input class="repeat-direction" data-repeat-direction="bottom_left" type="number" value="0" min="-1" max="100" style="width: 40px">
                                                </div>
                                                <div class="col-auto">
                                                    <span class="fas fa-long-arrow-alt-down"></span>
                                                    <input class="repeat-direction" data-repeat-direction="bottom" type="number" value="0" min="-1" max="100" style="width: 40px">
                                                </div>
                                                <div class="col-auto">
                                                    <span class="fas fa-long-arrow-alt-right" style="transform: rotate(45deg)"></span>
                                                    <input class="repeat-direction" data-repeat-direction="bottom_right" type="number" value="0" min="-1" max="100" style="width: 40px">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="inspector-repeat-grid-div" class="mb-4 border-bottom pb-4 d-none" data-repeat-type="grid">
                                        <h6 class="mb-2">Amount of repeats in grid</h6>
                                        <div class="form-check mb-2">
                                            <input type="checkbox" id="repeat-symmetrically"
                                                   class="form-check-input"
                                                   checked="checked">
                                            <label class="form-check-label" for="repeat-symmetrically">
                                                <span>symmetrically</span>
                                                <span class="fas fa-link"></span>
                                            </label>
                                        </div>
                                        <div class="container p-0">
                                            <div class="row justify-content-between g-0">
                                                <div class="col-5">
                                                    Horizontal
                                                </div>
                                                <div class="col-auto repeat-amount-asymmetric d-none">
                                                    <span class="fas fa-long-arrow-alt-left"></span>
                                                    <input id="repeat-amount-left" class="repeat-grid-amount" type="number" value="0" min="-1" max="100" style="width: 40px" data-repeat-direction="left">
                                                </div>
                                                <div class="col-auto repeat-amount-asymmetric d-none">
                                                    <span class="fas fa-long-arrow-alt-right"></span>
                                                    <input id="repeat-amount-right" class="repeat-grid-amount" type="number" value="0" min="-1" max="100" style="width: 40px" data-repeat-direction="right">
                                                </div>
                                                <div class="col-auto me-5 repeat-amount-symmetric">
                                                    <input id="repeat-amount-horizontal" class="repeat-grid-amount" type="number" value="0" min="-1" max="100" style="width: 40px" data-repeat-direction="right">
                                                </div>
                                            </div>
                                            <div class="row justify-content-between g-0">
                                                <div class="col-5">
                                                    Vertical
                                                </div>
                                                <div class="col-auto repeat-amount-asymmetric d-none">
                                                    <span class="fas fa-long-arrow-alt-up"></span>
                                                    <input id="repeat-amount-up" class="repeat-grid-amount" type="number" value="0" min="-1" max="100" style="width: 40px" data-repeat-direction="top">
                                                </div>
                                                <div class="col-auto repeat-amount-asymmetric d-none">
                                                    <span class="fas fa-long-arrow-alt-down"></span>
                                                    <input id="repeat-amount-down" class="repeat-grid-amount" type="number" value="0" min="-1" max="100" style="width: 40px" data-repeat-direction="bottom">
                                                </div>
                                                <div class="col-auto me-5 repeat-amount-symmetric">
                                                    <input id="repeat-amount-vertical" class="repeat-grid-amount" type="number" value="0" min="-1" max="100" style="width: 40px" data-repeat-direction="top">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="inspector-repeat-custom-dirs-div" class="mb-4 border-bottom pb-4 d-none" data-repeat-type="direction">
                                        <div class="d-flex mb-2">
                                            <h6 class="align-self-center">Custom Direction(s)</h6>
                                            <button id="repeat-add-custom-dir-btn" type="button" class="btn btn-sm btn-outline-secondary ms-auto"
                                                    data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-trigger="hover" title="Add custom direction">
                                                <span class="fas fa-plus"></span>
                                            </button>
                                        </div>
<!--                                        <div class="d-flex justify-content-between mb-1">-->
<!--                                            <span class="fas fa-long-arrow-alt-right align-self-center"></span>-->
<!--                                            <span>angle of dir</span>-->
<!--                                            <input type="number" value="0" style="width: 40px">-->
<!--                                            <button type="button" class="btn btn-sm btn-outline-secondary"-->
<!--                                                    data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-trigger="hover" title="Delete custom direction">-->
<!--                                                <span class="fas fa-trash-alt"></span>-->
<!--                                            </button>-->
<!--                                        </div>-->
                                    </div>
                                    <div id="inspector-repeat-path-div" class="mb-4 border-bottom pb-4 d-none" data-repeat-type="path">
                                        <button id="repeat-define-path-btn" type="button" class="btn btn-sm btn-outline-secondary"
                                                data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-trigger="hover" title="Define path">
                                            <span class="fas fa-plus"></span>
                                            <span>Define repeat path</span>
                                        </button>
                                        <div id="repeat-path-line" class="container mt-2 p-0">
                                            <div class="row justify-content-between g-0">
                                                <span class="col-auto">Path</span>
                                                <div class="col-auto btn-group btn-group-sm" role="group">
                                                    <button id="repeat-path-show-btn" type="button" class="btn btn-outline-secondary"
                                                            data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-trigger="hover" title="Toggle path visibility">
                                                        <span class="fas fa-eye"></span>
                                                    </button>
                                                    <button id="repeat-path-edit-btn" type="button" class="btn btn-outline-secondary disabled" data-bs-toggle="tooltip"
                                                            data-bs-placement="bottom" data-bs-trigger="hover" title="Edit path">
                                                        <span class="fas fa-edit"></span>
                                                    </button>
                                                    <button id="repeat-path-delete-btn" type="button" class="btn btn-outline-secondary" data-bs-toggle="tooltip"
                                                            data-bs-placement="bottom" data-bs-trigger="hover" title="Delete path">
                                                        <span class="fas fa-trash-alt"></span>
                                                    </button>
                                                </div>
                                            </div>
                                            <div id="repeat-path-coordinates-div" class="row g-0">
                                                coordinates of path
                                            </div>
                                        </div>
                                        <div class="form-check mt-2">
                                            <input class="form-check-input" type="checkbox" id="repeat-along-path-with-rotation">
                                            <label class="form-check-label" for="repeat-along-path-with-rotation">
                                                Rotate clones relative to path
                                            </label>
                                        </div>
                                    </div>
                                    <div id="repeat-margin-div" class="mb-4 row">
                                        <h6 class="col-auto align-self-center">Margin</h6>
                                        <input type="number" class="repeat-margin col-auto ms-1 ps-1 pe-0" value="10" style="width: 50px">
                                    </div>
                                    <div id="repeat-test-intersections-div" class="form-check mb-4">
                                        <input type="checkbox" id="repeat-test-intersections"
                                               class="form-check-input">
                                        <label class="form-check-label" for="repeat-test-intersections">
                                            Test intersections
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="inspector-semantic-stretch-card" class="card border-bottom" hidden>
                            <div id="header-inspector-semantic-stretch-metadata" class="card-header clearfix d-flex">
                                <a class="align-self-center" href="#header-inspector-semantic-stretch-metadata" data-bs-toggle="collapse"
                                   data-bs-target="#card-inspector-semantic-stretch-metadata" role="button">
                                    Semantic Stretch
                                </a>
                                <button id="remove-sem-stretch-btn" class="btn btn-secondary ms-auto" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                        data-bs-trigger="hover" title="remove semantic stretch behaviour">
                                    <span class="fas fa-trash-alt"></span>
                                </button>
                            </div>
                            <div id="card-inspector-semantic-stretch-metadata" class="collapse show"
                                 data-parent="#inspector-components">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between">
                                        <span class="fas fa-arrows-alt-h"></span>
                                        <div>
                                            Horizontal Factor
                                        </div>
                                        <div>
                                            <input id="stretch-factor-horizontal" type="number" value="1" min="-100" max="100" step="0.5" style="width: 40px">
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <span class="fas fa-arrows-alt-v"></span>
                                        <div>
                                            Vertical Factor
                                        </div>
                                        <div>
                                            <input id="stretch-factor-vertical" type="number" value="1" min="-100" max="100" step="0.5" style="width: 40px">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="inspector-semantic-anchor-card" class="card border-bottom" hidden>
                            <div id="header-inspector-semantic-anchor-metadata" class="card-header clearfix d-flex">
                                <a class="align-self-center" href="#header-inspector-semantic-anchor-metadata" data-bs-toggle="collapse"
                                   data-bs-target="#card-inspector-semantic-anchor-metadata" role="button">
                                    Semantic Anchor
                                </a>
                                <button id="remove-sem-anchor-btn" class="btn btn-secondary ms-auto" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                        data-bs-trigger="hover" title="remove semantic anchor behaviour">
                                    <span class="fas fa-trash-alt"></span>
                                </button>
                            </div>
                            <div id="card-inspector-semantic-anchor-metadata" class="collapse show"
                                 data-parent="#inspector-components">
                                <div class="card-body">
                                    <button id="anchor-define-anchor-point-btn" type="button" class="btn btn-sm btn-outline-secondary"
                                            data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-trigger="hover" title="Define anchor point">
                                        <span class="fas fa-anchor"></span>
                                        <span>Define anchor</span>
                                    </button>
                                    <div id="anchor-point-line" class="mt-2 d-none">
                                        <div class="d-flex justify-content-between">
                                            <span>Anchor</span>
                                            <span id="anchor-point-coordinates">(x, y)</span>
                                            <button id="anchor-edit-btn" type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="tooltip"
                                                    data-bs-placement="bottom" data-bs-trigger="hover" title="Define new anchor position">
                                                <span class="fas fa-edit"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-auto p-2 collapse collapse-horizontal multi-collapse inspector-toggle-collapse" id="inspectorButton">
            <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target=".inspector-toggle-collapse" aria-expanded="true" aria-controls="inspectorColumn inspectorButton">
                <span class="fas fa-sliders-h"></span>
            </button>
        </div>
    </div>
</div>
<!--    <div style="overflow: hidden; width: 100%">-->
<!--        <div id="root" style="box-shadow: 0 0 1em lightblue; display: inline-block; float: left; width: 90%; height: 90vh; resize: both; overflow: auto"></div>-->
<!--        <div id="hierarchy" style="float: left; width: 10%; height: 90vh; resize: both; overflow: auto"></div>-->
<!--    </div>-->
</body>
</html>
